<%= link_to email, id: dom_id(email, :link), class: "block p-4 hover:bg-blue-50",
  data: { turbo_frame: :detail, turbo_action: :advance, action: "list#select" } do %>
  <p class="text-lg font-bold truncate"><%= email.subject %></p>
  <p class="text-slate-700 truncate"><%= email.sender %></p>
  <p class="text-sm text-slate-500 line-clamp-2"><%= email.body %></p>
<% end %>